ENVIRONMENT=dev
DEBUG=true
SECRET_KEY=change-me
MONGODB_URL=mongodb://127.0.0.1:27017
MONGODB_DB_NAME=ar-tryon-nepal
SUPABASE_URL=
SUPABASE_KEY=
AI_MODEL_PATH=./ai_models/viton_hd/checkpoint.pth
VITE_API_URL=http://localhost:8000
